<AuthorizeView>
    <Authorized>
<!-- ================= Sidebar ================= -->
<div class="col-12 col-lg-3">
    <div class="d-none d-xxl-block h-100 fixed-top overflow-hidden scrollbar"
         style="max-width: 360px; width: 100%; z-index: 4;">
       
          </div>
        </div>
        </Authorized>   
        </AuthorizeView>
@code {

}
