@inherits LayoutComponentBase
@inject NavigationManager _navigationManager
<AuthorizeView>
    <NotAuthorized>
        @{
            _navigationManager.NavigateTo("/login");
        }
    </NotAuthorized>
</AuthorizeView>

<AuthorizeView>
    <Authorized>
        <NavMenu isAvatarImageChanged="@isAvatarImageChanged" />
        <div class="container-fluid">
            <div class="row justify-content-evenly">
               <LeftPan/>
                <CascadingValue Value=onAvatarChanged>
                @Body
                </CascadingValue>
               <RightPan/>
            </div>
        </div>
    </Authorized>
</AuthorizeView>
 
   
 
@code{
    public EventCallback onAvatarChanged => EventCallback.Factory.Create(this, RefreshAvatar);
    long isAvatarImageChanged = 0;
    private void RefreshAvatar()
    {
        isAvatarImageChanged = 1;
    }
}