@using Samvad_App.Shared.Models
@inject HttpClient Http

<AuthorizeView>
    <Authorized>
<!-- ================= Timeline ================= -->
<div class="col-12 col-lg-6 pb-5">
    <div class="d-flex flex-column justify-content-center w-100 mx-auto"
         style="padding-top: 56px; max-width: 680px">
        <!-- Create Post-->
                <CreatePost onPostCreated="RefreshPost" />

        <!-- posts -->
        
        <!-- p 2 -->
                
                <InfiniteScrolling isNewPostCreated="@isNewPostCreated"/>
                
    </div>
</div>


<!--End-->
</Authorized>
</AuthorizeView>

@code {
    //UserModel currentUser = new UserModel();

    long isNewPostCreated = 0;

    protected override async Task OnInitializedAsync()
    {
        isNewPostCreated = 0;
        //var response = await Http.GetAsync("api/accounts");
        //currentUser = await response.Content.ReadFromJsonAsync<UserModel>();

    }
    private async Task RefreshPost(PostModel newPost)
    {
        isNewPostCreated = newPost.postid;
        
        //postList.Add(newPost);
        //orderedList.Append(newPost);

        //postList = new List<PostModel>();
        //var responsePosts = await Http.GetAsync("api/post");
        //responsePosts.EnsureSuccessStatusCode();
        //postList = await responsePosts.Content.ReadFromJsonAsync<List<PostModel>>();
    }

    
}
