@inherits LayoutComponentBase
@inject IJSRuntime _jsRuntime
    <main>
        <div class="top-row px-4 auth">
            <LoginDisplay />
        @*<a href="https://insoftdev.in/" target="_blank">About</a>*@
        </div>
        <div class="se-pre-confirm"></div>
        <article class="content px-4">
            @Body
        </article>
    </main>

@code {

    protected override async Task OnInitializedAsync()
    {
        var module = await _jsRuntime.InvokeAsync<IJSObjectReference>("import", "./js/site.js");
        await module.InvokeVoidAsync("page_Load", "");
        await base.OnInitializedAsync();
    }
}