@using Samvad_App.Shared.Models
@using System.Net.Http.Json;
@inject HttpClient Http
<!-- comment expand -->
<div id="collapsePost1"
     class="accordion-collapse collapse"
     aria-labelledby="headingTwo"
     data-bs-parent="#accordionExample">
    <hr />
    <div class="accordion-body">
        <!-- comment 1 -->
        <div class="d-flex align-items-center my-1">
            <!-- avatar -->
            <img src="./images//user/defaultuser.jpg"
                 class="rounded-circle me-2"
                 style="
                                width: 38px;
                                height: 38px;
                                object-fit: cover;
                              " />
            <!-- comment text -->
            <div class="p-3 rounded comment__input w-100">
                <!-- comment menu of author -->
                <div class="d-flex justify-content-end">
                    <!-- icon -->
                    <i class="fas fa-ellipsis-h text-blue pointer"
                       id="post1CommentMenuButton"
                       data-bs-toggle="dropdown"
                       aria-expanded="false"></i>
                    <!-- menu -->
                    <ul class="dropdown-menu border-0 shadow"
                        aria-labelledby="post1CommentMenuButton">
                        <li class="d-flex align-items-center">
                            <a class="
                                        dropdown-item
                                        d-flex
                                        justify-content-around
                                        align-items-center
                                        fs-7
                                      "
                               href="#">
                                Edit Comment
                            </a>
                        </li>
                        <li class="d-flex align-items-center">
                            <a class="
                                        dropdown-item
                                        d-flex
                                        justify-content-around
                                        align-items-center
                                        fs-7
                                      "
                               href="#">
                                Delete Comment
                            </a>
                        </li>
                    </ul>
                </div>
                <p class="fw-bold m-0"><!--FirstName LastName--></p>
                <p class="m-0 fs-7 bg-gray p-2 rounded">
                    Lorem ipsum dolor sit amet, consectetur
                    adipiscing elit.
                </p>
            </div>
        </div>
        <!--End COmment-->
        <!-- comment 2 -->
        <div class="d-flex align-items-center my-1">
            <!-- avatar -->
            <img src="./images//user/defaultuser.jpg"
                 class="rounded-circle me-2"
                 style="
                                width: 38px;
                                height: 38px;
                                object-fit: cover;
                              " />
            <!-- comment text -->
            <div class="p-3 rounded comment__input w-100">
                <p class="fw-bold m-0"><!--FirstName LastName--></p>
                <p class="m-0 fs-7 bg-gray p-2 rounded">
                    Lorem ipsum dolor sit amet, consectetur
                    adipiscing elit.
                </p>
            </div>
        </div>
        <!-- create comment -->
        <form class="d-flex my-1">
            <!-- avatar -->
            <div>
                <img src="./images//user/defaultuser.jpg"
                     class="rounded-circle me-2"
                     style="
                                  width: 38px;
                                  height: 38px;
                                  object-fit: cover;
                                " />
            </div>
            <!-- input -->
            <input type="text"
                   class="form-control border-0 rounded-pill bg-gray"
                   placeholder="Write a comment" />
        </form>
        <!-- end -->
    </div>
</div>

@code {
    [Parameter]
    public PostModel p { get; set; }
    UserModel u { get; set; }
    protected override async Task OnInitializedAsync()
    {
        u = new UserModel();
        var response = await Http.GetAsync("api/accounts/" + p.createdby);
        response.EnsureSuccessStatusCode();
        u = await response.Content.ReadFromJsonAsync<UserModel>();
    }
}
