<div class="col-12 col-lg-6 pb-5">
    <div class="d-flex flex-column justify-content-center w-100 mx-auto"
         style="padding-top: 56px; max-width: 680px">

        <div class="table-area d-flex flex-column justify-content-center w-100 mx-auto"
             style="max-width: 680px;"  >
            <div class="container light-style flex-grow-1 container-p-y mt-0" style="overflow-x:auto;">
                <h4 class="font-weight-bold py-3 mb-4">
                    User Details
                </h4>
                <a href="/register" class="btn btn-primary">Add New User</a>
           
            <table class="table table-fixed table-hover">
                    <thead>
                        <tr>
                        <th style="width:40%">Action</th>
                        <th style="width:60%">User Details</th>
                            
                        </tr>
                    </thead>
                    <tbody>
           
               
                       <InfiniteUserList/>
            </tbody>
        </table>

    </div>
                 
</div>
</div>
</div>
@code {
    
}
