@page "/changepassword"
@inject NavigationManager _navigationManager
<PageTitle>BVG Samvad</PageTitle>
<AuthorizeView>
    <NotAuthorized>
        @{
            _navigationManager.NavigateTo("/login");
        }
    </NotAuthorized>
</AuthorizeView>

<AuthorizeView>
    <Authorized>
        <NavMenu />
        <div class="container-fluid">
            <div class="row justify-content-evenly">
               <LeftPan/>
               <ChangePasswordPan/>
               <RightPan/>
            </div>
        </div>
    </Authorized>
</AuthorizeView>
@code {
    //UserModel currentUser = new UserModel();
    //protected override async Task OnInitializedAsync()
    //{
    //    var module = await _jsRuntime.InvokeAsync<IJSObjectReference>("import", "./js/site.js");
    //    await module.InvokeVoidAsync("page_Load", "");
    //    var response = await Http.GetAsync("api/accounts");
    //    currentUser = await response.Content.ReadFromJsonAsync<UserModel>();
    //    await base.OnInitializedAsync();
    //}
}